<% layout("/layouts/boilerplate") -%>
  <body>
    <div class="row">
      <div class="col-8 offset-2">
        <br><br>
    <h3>Create a New Listing</h3>
    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data" >
      <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input name="listing[title]" placeholder="Add a catchy title" type="text" class="form-control" required />
      <div class="invalid-feedback">
        Title should be valid
      </div>
    </div>
      <div class="mb-3">
      
        <select name="listing[category]" class="form-select" required>
          <option value="">Select Category</option>
          <option value="mountains">Mountains</option>
          <option value="rooms">Rooms</option>
          <option value="castles">Castles</option>
          <option value="pools">Pools</option>
          <option value="camping">Camping</option>
          <option value="farms">Farms</option>
          <option value="iconic-cities">Iconic Cities</option>
          <option value="arctic">Arctic</option>
          <option value="river">River</option>
        </select>
        
        <div class="invalid-feedback">
          Please select a category
        </div>
    </div>
      
      <div class="mb-3">
<label for="description" class="form-label">Discription</label>
        <textarea
          name="listing[description]"
          placeholder="Enter Description"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">
          Discription should be valid
        </div>
      </div>
      
      <div class="mb-3">
<label for="image" class="form-label">Upload Image</label>
        <input
          name="listing[image]"
          placeholder="send file"
          type="file"
          class="form-control"
         required
        />
      </div>
      <div class="row">

        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input name="listing[price]" placeholder="1,200"  class="form-control" required/>
          <div class="invalid-feedback">
           Price should be valid
          </div>
        </div>
       <div class="mb-3 col-md-8">
  <label for="country" class="form-label">Country</label>
         <input name="listing[country]" placeholder="India" type="text" class="form-control" required/>
         <div class="invalid-feedback">
          Country should be valid
        </div>
       </div>
      </div>
<div class="mb-3">
  <label for="location" class="form-label">Location</label>
  <input
    name="listing[location]"
    placeholder="Jhansi,UttarPradesh"
    type="text"
    class="form-control"
    required
  />
  <div class="invalid-feedback">
 Location should be valid
  </div>
</div>
      <br/><br>
      <button class="btn btn-dark">Add</button>
      <br><br>
    </form>
    <br>
  </div>
  </div>
  </body>

